---
title: CircleOfParts - Eagle Scripting Tools
---
{% include head.html %}
  <body style="padding-top: 70px;">
{% include navbar.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-2">

<form>

  <div class="form-group">
    <label for="pcb_type" class="control-label">PCB type</label>
      <select id="pcb_type" class="form-control" onchange="UpdatePCBtype()">
        <option value="R">Rectangle</option>
        <option value="C">Circular</option>
      </select>
  </div>


  <div class="form-group" id="pcb_rectangle">
    <label for="pcbw" class="control-label">PCB W,H</label>
    <div style="display:block">
      <input id="pcbw" type="text" class="form-control formfit2" value="80" onchange="RefreshPreview()" />
      x
      <input id="pcbh" type="text" class="form-control formfit2" value="80" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group" id="pcb_circle">
    <label for="pcbr" class="control-label">PCB Radius</label>
    <div style="display:block">
      <input id="pcbr" type="text" class="form-control formfit2" value="40" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group">
    <label for="anglestart" class="control-label">Circle Start,End</label>
    <div style="display:block">
      <input id="anglestart" type="number" class="form-control formfit2" type="number" min="0" max="360" step="45" value="0" onchange="RefreshPreview()" />
      x
      <input id="angleend" type="number" class="form-control formfit2" type="number" min="0" max="360" step="45" value="360" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group">
    <label for="centerx" class="control-label">Center X,Y</label>
    <div style="display:block">
      <input id="centerx" type="text" class="form-control formfit2" value="40" onchange="RefreshPreview()" />
      x
      <input id="centery" type="text" class="form-control formfit2" value="40" onchange="RefreshPreview()" />
    </div>
  </div>


  <div class="form-group">
    <label for="radius" class="control-label">Circle Radius</label>
    <div style="display:block">
      <input id="radius" type="text" class="form-control formfit2" value="40" onchange="RefreshPreview()" />
    </div>
  </div>


  <div class="form-group">
    <label for="radius" class="control-label">No of Steps</label>
    <div style="display:block">
      <input id="steps" type="number" class="form-control formfit2" min="1" max="256" value="12" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group">
    <label for="radius" class="control-label">Part Name</label>
    <div style="display:block">
      <input id="part" type="text" class="form-control formfit2" value="LED1" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group">
    <label for="rotateenable" class="control-label">Rotate part enable</label>
    <div style="display:block">
      <input id="rotateenable" type="checkbox" checked value="1" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group">
    <label for="radius" class="control-label">Rotate part offset</label>
    <div style="display:block">
      <input id="rotateoffset" type="number" class="form-control formfit2" min="0" max="360" step="45" value="0" onchange="RefreshPreview()" />
    </div>
  </div>

  <div class="form-group">
    <label for="part_type" class="control-label">Part type</label>
    <div style="display:block">
      <select id="part_type"  class="form-control" onchange="UpdateParttype()">
        <option value="R">Rectangular</option>
        <option value="C">Round</option>
      </select>
    </div>
  </div>

  <div class="form-group" id="part_rectangle">
    <label for="partw" class="control-label">Part Width,Height</label>
    <div style="display:block">
      <input id="partw" type="text" class="form-control formfit2" value="3" onchange="RefreshPreview()" />
      x
      <input id="parth" type="text" class="form-control formfit2" value="6" onchange="RefreshPreview()" />
    </div>
  </div>


  <div class="form-group hidden" id="part_circle">
    <label for="partradius" class="control-label">Part radius</label>
    <div style="display:block">
      <input id="partradius" type="number" min="1" max="100" step="1" value="2.5" onchange="RefreshPreview()" />
    </div>
  </div>

</form>

        </div>
        <div class="col-md-7">
          <p>
            <canvas id="preview" width="650" height="650">Canvas not supported :-(</canvas>
            <!-- <img src="http://lorempixel.com/g/650/650/technics/?2" alt="PCB preview"> -->
          </p>
       </div>
        <div class="col-md-3">
          <p><a id="eaglecmds-button" data-clipboard-text="" class="btn btn-default" href="#" role="button">Copy</a></p>
          <p id="eaglecmds" class="small"></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; SmallRoomLabs / Mats Engstrom 2014</p>
      </footer>
    </div> <!-- /container -->

{% include footerscripts.html %}
  <script src="js/utils.js"></script>
  <script src="js/circleOfParts.js"></script>

  </body>
</html>
