---
title: Eagle Scripting Tools
---
{% include head.html %}
  <body>
{% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Eagle Layout Tools</h1>
        <p>This site generates Eagle commands for aligning parts in circles, arcs and rectangular arrays. If can also draw text among a circle or build a circle out of many short lengths of top/bottom copper.</p>
        <p>The generated commands can be copied and pasted into the command line in the Eagle layout window.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Circle of parts</h2>
          <p><img src="images/circleOfParts.png" alt="Circle Of Parts" class="img-rounded"></p>
          <p>Move and optionally rotate parts among a circle or arc.</p>
          <p><a class="btn btn-default" href="circleOfParts.html" role="button">Circle of Parts &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Grid of parts</h2>
          <p><img src="images/gridOfParts.png"alt="Grid Of Parts" class="img-rounded"></p>
          <p>Move and optionally rotate parts in a rectangular grid</p>
          <p><a class="btn btn-default" href="gridOfParts.html" role="button">Grid of Parts &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Circle of lines</h2>
          <p><img src="images/circleOfWires.png" alt="Circle Of Wires" class="img-rounded"></p>
          <p>Draw a cicle/arc of a number of wire segments on any layer</p>
          <p><a class="btn btn-default" href="circleOfWires.html" role="button">Circle of Wires &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h2>Lorem ipsum</h2>
          <p><img src="http://lorempixel.com/g/240/240/technics/?2"alt="Something else" class="img-rounded"></p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
          <p><a class="btn btn-default" href="gridOfParts.html" role="button">Lorem ipsum &raquo;</a></p>
        </div>
      </div>

      <hr>

{% include footer.html %}

    </div> <!-- /container -->

    {% include GA.html %}
    {% include footerscripts.html %}

  </body>
</html>
