---
title: Eagle Scripting Tools
---
{% include head.html %}
  <body>
{% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Eagle Layout Tools</h1>
        <p>This site generates Eagle commands for aligning parts in circles, arcs and rectangular arrays. If can also draw text along a circle or build a circle out of many short lengths of top/bottom copper.</p>
        <p>The generated commands can be copied and pasted into the command line in the Eagle layout window.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Circle of parts</h2>
          <p><img src="images/circleOfParts.png" alt="Circle Of Parts" class="img-rounded"></p>
          <p>Move and optionally rotate parts along a circle or arc.</p>
          <p><a class="btn btn-default" href="circleOfParts.html" role="button">Circle of Parts &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Grid of parts</h2>
          <p><img src="images/gridOfParts.png"alt="Grid Of Parts" class="img-rounded"></p>
          <p>Move and optionally rotate parts in a rectangular grid</p>
          <p><a class="btn btn-default" href="gridOfParts.html" role="button">Grid of Parts &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Circle of lines</h2>
          <p><img src="images/circleOfWires.png" alt="Circle Of Wires" class="img-rounded"></p>
          <p>Draw a cicle/arc of a number of wire segments on any layer</p>
          <p><a class="btn btn-default" href="circleOfWires.html" role="button">Circle of Wires &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h2>CircleOfText</h2>
          <p><img src="images/circleOfText.png" alt="Circle Of Text" class="img-rounded"></p>
          <p>Write text along a circle or arc. The rendering on screen is only an approximation of what will be generated for Eagle.</p>
          <p><a class="btn btn-default" href="circleOfTet.html" role="button">Circle of Text &raquo;</a></p>
        </div>
      </div> <!-- end of row -->

      <div class="row">
        <div class="col-md-3">
          <h2>Grid from Map</h2>
          <p><img src="images/gridFromMap.png" alt="Grid From Map" class="img-rounded"></p>
          <p>Move and optionally move parts to a grid according to a map
          file</p>
          <p><a class="btn btn-default" href="gridFromMap.html" role="button">Grid from map &raquo;</a></p>
        </div>
	<!--
        <div class="col-md-3>
          <h2>Grid of parts</h2>
          <p><img src="images/gridOfParts.png"alt="Grid Of Parts" class="img-rounded"></p>
          <p>Move and optionally rotate parts in a rectangular grid</p>
          <p><a class="btn btn-default" href="gridOfParts.html" role="button">Grid of Parts &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Circle of lines</h2>
          <p><img src="images/circleOfWires.png" alt="Circle Of Wires" class="img-rounded"></p>
          <p>Draw a cicle/arc of a number of wire segments on any layer</p>
          <p><a class="btn btn-default" href="circleOfWires.html" role="button">Circle of Wires &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h2>CircleOfText</h2>
          <p><img src="images/circleOfText.png" alt="Circle Of Text" class="img-rounded"></p>
          <p>Write text along a circle or arc. The rendering on screen is only an approximation of what will be generated for Eagle.</p>
          <p><a class="btn btn-default" href="circleOfTet.html" role="button">Circle of Text &raquo;</a></p>
        </div>
        -->
      </div> <!-- end of row -->


      <hr>

{% include footer.html %}

    </div> <!-- /container -->

    {% include GA.html %}
    {% include footerscripts.html %}

  </body>
</html>
